<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" href="/img/weather.png">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<img class="portrait" src="/img/ankur_gupta.jpg">
		<p>Created by {{name}}</p>
		{{>footer}}
</div>
</body>
</html>